/* Importation de la police 'Inter' depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

/* Réinitialisation des marges et des espacements */
*{
    margin:0;
    padding:0;
}

/* Styles de base pour le corps de la page */
body {
    font-family: 'Inter', sans-serif;    
}

/* Style du slider en plein écran */
.slider{
    width:100%;
    min-height:80vh;
    aspect-ratio:16/9;
    background: #000;
    position: relative;
}

/* Image de fond pour le slider avec effet d'obscurcissement */
.slider-background{
    width:100%;
    height:100%;
    object-fit: cover;
    filter: brightness(30%);
}

/* Contenu centralisé et superposé sur le slider */
.slider-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

/* Style des titres (h1) */
h1{
    color: #fff;
    font-size:5rem;
}

/* Style des sous-titres (h2) */
h2{
    font-size:2.75rem;
    margin-bottom: 100px;
}

/* Style des paragraphes généraux */
p{
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* Style des paragraphes dans le slider */
.slider-content p{
    color: #fff;
    font-size:2rem;
    font-weight: 300;
}

/* Marges et espacement vertical pour chaque section */
.section{
    padding: 100px 0;
}

/* Conteneur pour centrer et limiter la largeur du contenu */
.boxed{
    max-width: 1280px;
    margin-inline:auto;
}

/* Conteneur pour centrer et limiter la largeur du contenu */
.boxed-veille{
    max-width: 1280px;
    margin-inline:auto;
}

/* Classe pour afficher en flex */
.flex{
    display: flex; 
}

/* Style pour les sections sombres */
.dark{
    background: #000;
    color: #fff;
}

/* Classe pour fixer la largeur à 40% */
.w40{
    width: 40%;
}

/* Classe pour fixer la largeur à 60% */
.w60{
    width: 60%;
}

/* Classe pour centrer le texte */
.text-center{
    text-align: center;
}

/* Classe pour centrer le texte a gauche */
.text-left{
    text-align: left;
}

/* Classe pour centrer le texte à droite */
.text-right{
    text-align: right;
}



/* Classe pour fixer la largeur à 25% */
.w25{
    width: 25%;
}

/* Classe pour fixer la largeur à 32% */
.w32{
    width: 32%;
}

/* Classe pour espacement avec justification */
.space-between{
    justify-content: space-between;
}

/* Classe pour définir un espace de 20px entre les éléments */
.gap20{
    gap: 20px;
}

/* Classe pour autoriser le retour à la ligne dans le flex */
.wrap{
    flex-wrap: wrap;
}

.color-band {
    height: 35px; /* Ajustez la hauteur selon vos besoins */
    background-color: #000000; /* Remplacez par la couleur de votre choix */
    width: 100%; /* Occuper toute la largeur */
    margin: 0; /* Supprimez la marge */
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Couleur de fond verte */
    color: white; /* Couleur du texte */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px; /* Bord arrondi */
    transition: background-color 0.3s ease; /* Effet de transition */
}

.download-button:hover {
    background-color: #606060; /* Couleur de fond au survol */
}


/* Style de la boîte de compétences */
.skill {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Empêche le contenu de déborder */
    text-align: center; /* Centre le contenu horizontalement */
    max-width: 250px; /* Limite la largeur de la boîte */
    margin: auto; /* Centre la boîte */
}

/* Style des images dans la boîte de compétences */
.skill img {
    width: 100%; /* L'image occupe la largeur de la boîte */
    height: auto; 
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 10px; /* Ajoute des coins arrondis si souhaité */
}

/* Style des titres dans la boîte de compétences */
.skill h3 {
    color: #000;
    margin-top: 10px;
    font-size: 1.2em; /* Augmente légèrement la taille du texte */
}

/* Effet au survol des skill (réduit le filtre et montre le titre) */
.skill:hover {
    filter: brightness(90%);
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
    transition: transform 0.3s ease, filter 0.3s ease;
}


/* Style de la boîte de synthèse */
.synthèse{
    background: #090909;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
}

/* Image de la Tableau-de-synthèse avec un filtre sombre */
.Tableau-de-synthèse img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    transition: .4s ease;
}

/* Effet au survol de la Tableau-de-synthèse (réduit le filtre et montre le titre) */
.Tableau-de-synthèse:hover {
    filter: brightness(70%);
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Style des images dans la boîte de veille */
.veille img {
    width: 100%; /* Faire en sorte que l'image remplisse tout l'espace disponible */
    height: auto;
    display: block; /* Enlever tout espace résiduel autour de l'image */
    margin: 0; /* Supprime la marge autour de l'image */
    padding: 0; /* Supprime le padding autour de l'image */
}

/* Style de la boîte de veille */
.veille {
    background: #fff;
    border-radius: 15px;
    padding: 10px; /* Réduire l’espace autour de l'image */
    box-sizing: border-box;
}

/* Style des images dans la boîte de veille */
.veille img {
    width: 100%; /* Faire en sorte que l'image remplisse tout l'espace disponible */
    height: auto;
    display: block; /* Enlever tout espace résiduel autour de l'image */
    margin: 0; /* Supprime la marge autour de l'image */
    padding: 0; /* Supprime le padding autour de l'image */
}

.veille-txt{
    font-size: 1.5em; /* Augmente légèrement la taille du texte */
}

.portfolio-txt{
    font-size: 1.5em; /* Augmente légèrement la taille du texte */
}


#Portfolio h2 {
    margin-bottom: 10px; 
}

.portfolio-txt p {
    margin-top: 20px; 
}

/* Image de la veille-technologique avec un filtre sombre */
.veille-technologique img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    transition: .4s ease;
}

/* Effet au survol de la veille-technologique (réduit le filtre et montre le titre) */
.veille-technologique:hover {
    filter: brightness(80%);
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Conteneur pour les réalisations */
.realisations{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    flex: 1 1 calc(33.33% - 20px); /* 3 réalisations par ligne avec espace */
    max-width: calc(33.33% - 20px);
    box-sizing: border-box; /* Prend en compte le padding et les marges */
}

/* Titre central pour les réalisations, avec animation d'opacité */
.realisations h3{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:2rem;
    width:max-content;
    opacity: 0;
    transition: .4s ease;
}

/* Lien vers les réalisations */
.realisations a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
}


/* Image de la réalisation avec un filtre sombre */
.realisations img{
    width: 85%;
    height: auto;
    object-fit: cover;
    filter: brightness(100%);
    transition: .4s ease;
    border-radius: 10px; /* Bord arrondi */
}

/* Effet au survol des réalisations (réduit le filtre et montre le titre) */
.realisations:hover{
    filter: brightness(70%);
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.realisations:hover h3{
    opacity: 1;
}

/* Style de l'icône avec taille ajustée */
.icon{
    display: block;
    font-size: 1.9rem !important;
}

/* Label en majuscule et gras */
.label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.2rem;
}

/* Valeur en style normal */
.value{
    display: block;
    font-size: 1.0rem;
}

/* Boîte pour la section de contact */
.contact{
    border: 2px dashed #fff;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
}

/* Centrer les éléments en flex */
.aligncenter{
    align-items: center;
}

/* Style de l'en-tête (menu) */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.7);
}

/* Logo dans l'en-tête */
.header-logo{
    display: block;
}

.header-logo img{
    width: 90px;
}

/* Menu en flex */
.header-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

/* Lien du menu */
.header-menu li a{
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    display: block;
    box-sizing: border-box;
    transition: .2s ease;
}

/* Effet de survol du lien du menu */
.header-menu li a:hover{
    background-color: #000;
    color: #fff;
}

/* Dernier lien du menu avec style différent */
.header-menu li:last-child a{
    background-color: #000000;
    color: #fff;
}

/* Menu pour la version mobile */
.header-menu-mobile{
    display: none;
}

.navigation-buttons {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #f0f0f0; /* Couleur de fond de la zone des boutons */
    border-top: 2px solid #ddd; /* Ligne de séparation subtile */
}

.navigation-buttons button {
    padding: 12px 25px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(252, 252, 252);
    background-color: #000305; /* Couleur de fond des boutons */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.navigation-buttons button:hover {
    background-color: #4f4f4f; /* Couleur de survol */
    transform: scale(1.05); /* Effet d'agrandissement au survol */
}

.navigation-buttons button:active {
    background-color: #ffffff; /* Couleur lorsqu'on clique sur le bouton */
    transform: scale(0.95); /* Effet de réduction au clic */
}

.competences-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.competence-card {
    width: 250px; /* Taille fixe pour chaque carte */
    background-color: #f9f9f9; /* Couleur de fond douce */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.competence-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.competence-card p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

.competence-card:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Accentuation de l'ombre */
}

.small-image {
    width: 100%;
    height: auto;
}



/* Media Query pour l'adaptation mobile */
@media(max-width:810px){
    header{
        height: 70px !important;
    }

    /* Bouton mobile du menu */
    .header-menu-mobile{
        display: block;
        border: 0px;
        background-color: #fff;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate(-50%);
        z-index: 991;
    }

    /* Logo centré dans le menu mobile */
    .header-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 991;
    }

    /* Style du menu mobile en plein écran */
    .header-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 30px;
        display: none;
    }

    /* Afficher le menu lorsqu'il est actif */
    .active{
        display: flex;
    }

    /* Espacement du dernier lien */
    .header-menu li:last-child a{
        margin-top: 10px;
    }

    /* Taille réduite des sous-titres et du slider */
    h2{
        font-size: 1.75rem;
        margin-bottom: 30px;
    }

    .slider{
        height: 60vh;
    }
    
    /* Largeur adaptée pour le contenu du slider */
   .slider-content{
        width: 90%;
    }

    /* Ajustement des paragraphes du slider */
    .slider-content p{
        margin-top: 20px;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    /* Ajustement des titres principaux */
    h1{
        font-size: 2rem;
    }

    /* Ajustement des paragraphes */
    p{
        font-size: 1rem;
        text-wrap: balance;
    }

    /* Changer en colonne pour mobile */
    .toColumn{
        flex-direction: column;
    }

    /* Centrage du contenu */
    .mCenter{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Largeur maximale en mobile */
    .wm100{
        width: 100% !important;
    }

    /* Ajustement de la marge verticale des sections */
    .section{
        padding: 50px 0;
    }

    /* Largeur limitée du conteneur principal */
    .boxed{
        max-width: 90%;
    }

    /* Ajustement de largeur pour les éléments de la section */
    .wm47{
        width: 47%;
    }

    /* Espace entre éléments en mobile */
    .mgap20{
        gap: 20px;
    }
}